@model Product
<div style="background-color:blanchedalmond">
    <ul>
        <li> ProductID: @Model.ProductID </li>
        <li> ProductName: @Model.ProductName </li>
        <li> MfgName: @Model.MfgName </li>
        <li> Price: @Model.Price </li>
    </ul>

</div>
