@model OPDSession

<div class="card">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="OpdSessionID" />
        <input type="hidden" asp-for="ClinicID" value="@ViewBag.ClinicID" />
        <div class="card-body">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="SessionName"> Session Name  </label>
                <input type="text" class="form-control" asp-for="SessionName">
                <span asp-validation-for="SessionName" class="text-danger"></span>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-gradient-primary me-2"> Update </button>
            </div>
        </div>
    </form>
</div>

