
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookInfo</title>
</head>
<body>
    <div> 
        <h2>  Book Info </h2>
        BookId:@TempData["BookId"] <br />
        BookName:@TempData["BookName"] <br />
        AuthorName:@TempData["AuthorName"] <br />
        Price:@TempData["Price"]
    </div>
</body>
</html>
