
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBookInfo</title>
</head>
<body>
    <div> 
        <h2> Get Book Info </h2>
        BookId:@TempData["BookId"] <br />
        BookName:@TempData["BookName"] <br />
        AuthorName:@TempData["AuthorName"] <br />
        Price:@TempData["Price"] <br />
    </div>
</body>
</html>
