
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetShowInfo</title>
</head>
<body>
    <div> 
        <h2> Get Product Info</h2>
        ProductId:@ViewData["ProductId"] <br />
        ProductName:@ViewData["ProductName"] <br />
        MfgName:@ViewData["MfgName"] <br />
        Price:@ViewData["Price"]
    </div>
</body>
</html>
