
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetviewBag</title>
</head>
<body>
    <div> 
        <h2> Product Details </h2>
        ProductId:@ViewBag.ProductId <br />
        ProductName:@ViewBag.ProductName <br />
        MfgName:@ViewBag.MfgName <br />
        Price:@ViewBag.Price <br />
    </div>
</body>
</html>
