
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div>
        <h2> Product Info </h2>
        ProductId:@ViewBag.ProductId <br />
        ProductName:@ViewBag.ProductName <br />
        MfgName:@ViewBag.MfgName <br />
        Price:@ViewBag.Price <br />
    </div>
</body>
</html>
