@*@model DoctorRatingVM*@

<html>
    <head>
        <title> Rating </title>
    </head>
    <body>

    @await Component.InvokeAsync("DoctorRatingVC",new {did=ViewBag.DoctorID})
    
    </body>
</html>