<html>
    <head>
        <title> Appointment </title>
    </head>
    <body>
    
                        @await Component.InvokeAsync("AppointmentVC");
            
    @await Component.InvokeAsync("SessionListVC", new {ID=ViewBag.ID});
    </body>
</html>