
<form id="test-form" class="white-popup-block" style="z-index:5;">
    <div class="popup_box ">
            <h3>Book Appointment</h3>
            <div class="row">
                <div>
                    <select class="form-select wide" id="default-select" style="display: none;">
                        <option data-display="Select Session">Session</option>
                        <option value="1"> Morning Session </option>
                        <option value="2"> Evening Session </option>
                    </select>  
                </div>
            </div>
    </div>
</form>