@model ClinicVM

<html>
<head>
    <title> Clinic Details </title>
</head>
<body>
    <div class="card">
        <form asp-action="ClinicView" method="post">
        <div class="card-body">
            <div class="form-group">
                <h2> Clinic Details </h2>
                Clinic Name:
                Address:
                EmailID:
                Mobile No:
                LandLine No:
                Website Url:
                Contact PersonName:
                Clinic Facilities:
            </div>
        </div>
        </form>
    </div>
</body>
</html>