@model IEnumerable<Doctor>
<html>
    <head>
        <title> ViewDoc </title>
    </head>
    <body>
        @foreach(var temp in Model)
        {
        <div>
            <h4> Doctor Info </h4>
            DoctorPhoto: @temp.DoctorPhoto <br>
            Doctor Name: @temp.FullName <br />
            Doctor Qualification:@temp.DoctorQualification <br />
            Doctor Exp:@temp.DoctorExperience <br />
            @*@temp.DoctorSpecialities <br />*@
            Is Available:@temp.IsAvailable <br>
            @{
                <a asp-action="AddDRating" asp-controller="Home" class="btn-info"> Doctor Rating </a>
            }
            @{
                <a asp-action="ViewClinic" asp-controller="Home" class="btn-success"> View Clinic </a>
            }
            @{
                <a asp-action="BookAppointment" asp-controller="Home" class="btn-warning"> Book Appointment </a>
            }
        </div> <br />
        }
       <a asp-action="Index" asp-controller="Home" class="btn-info"> Home Page </a>
    </body>
</html>