
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.7.0.js"></script> 
    <script type="text/javascript">
        $(function () {
            alert("Welcome To JQuery..!")
            // $("h1").css("background-color", "red")
            // $("p").css("background-color","orange")
            $(".head").css("background-color", "green")
            $("h2.head").css("background-color","red")
        });
    </script>
</head>
<body>
    <div> 
        <h1 class="head"> First Heading </h1>
        <p> This is content of First Heading </p>
        <h2> Second Heading </h2>
        <p> This is content of Second Heading </p>
        <h1> Third Heading </h1>
        <p> This is content of Third Heading </p>
        <h2 class="head"> Fourth Heading </h2>
        <p> This is content of Fourth Heading </p>
    </div>
</body>
</html>
