
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogOut</title>
</head>
<body>
    <div> 
        <h1> You logged out Succesfully...! </h1>
        @Html.ActionLink("Click Here to SignIn","SignIn","ManageUser")
    </div>
</body>
</html>
