@model ChangePasswordVM
<div class="card">
    <form asp-action="ChangePassword" method="post">
        <div class="card-body">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="currentpassword"> Old Password </label>
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Password">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1"> Password </label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="exampleInputConfirmPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="text-center">
           <button type="submit" class="btn btn-gradient-primary me-2"> Change Password </button>
        </div>
        </div>
    </form>
</div>