
<h1> Contact </h1>
<p>
    Contact view of home controller <br />
    Contact view of home controller <br />
    Contact view of home controller <br />
    Contact view of home controller <br />
    Contact view of home controller <br />
    Contact view of home controller <br />
    Contact view of home controller <br />
    Contact view of home controller <br />
    Contact view of home controller <br />
</p>

@section head{
    <script type="text/javascript">alert("Head section from Contact")</script>
}

    @section news{
    <span> Welcome news from Contact </span>
}

    @section footer{
    <span> Footer content from Contact </span>
}