 
<h1> Index </h1>
<p>
    Index view of home controller <br />
    Index view of home controller <br />
    Index view of home controller <br />
    Index view of home controller <br />
    Index view of home controller <br />
    Index view of home controller <br />
    Index view of home controller <br />
</p>

@section head{
    <script type="text/javascript"> alert("Head section from Index") </script>
}

@section news{
    <span> Welcome news from Index </span>
}

@section footer{
    <span> Footer content from Index </span>
}