@model ViewModelEX.Models.ProCusEmpVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2> Product Information </h2>
        ProductID:@Model.ProductId <br />
        ProductName:@Model.ProductName <br />
        Price:@Model.Price <br />
        
        <h2> Customer Information </h2>
        CustomerName:@Model.CustomerName <br />
        Age:@Model.Age <br />
        MobileNo:@Model.MobileNo <br />
        
        <h2> Emp Information </h2>
        EmpId:@Model.EmpId <br />
        Deptname:@Model.DeptName <br />
        Salary:@Model.Salary <br /> 
    </div>
</body>
</html>
