
<html>
    <head>
        <title> Home-Index </title>
    </head>
    <body>
        <div>
            <h2> Product List </h2>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th> ProductID </th>
                        <th> Product Name </th>
                        <th> Product Description </th>
                        <th> Product Category </th>
                        <th> Mfg Name </th>
                        <th> Color </th>
                        <th> Price </th>
                    </tr>
                </thead>
            </table>
        </div>
    </body>
</html>