@model ClinicVM

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>

    <link rel="stylesheet" href="~/adminassets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/adminassets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/adminassets/css/style.css">
    <link rel="shortcut icon" href="~/adminassets/images/favicon.ico">
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <h3>Clinic Registration </h3>
                            </div>

                            <h4>New here?</h4>
                            <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
                            <form class="forms-sample " asp-action="SignUp" method="post">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                                <div class="form-group"> 
                                    <label asp-for="ClinicName"> ClinicName </label>
                                    <div class="col-md-4 col-lg-4"></div>
                                    <input type="text" asp-for="ClinicName" class="form-control" placeholder="ClinicName">
                                    <span asp-validation-for="ClinicName"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Address"> Address </label>
                                    <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                                    <span asp-validation-for="Address"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="EmailID"> Email Address </label>
                                    <input type="email" asp-for="EmailID" class="form-control" placeholder="Email">
                                    <span asp-validation-for="EmailID"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="MobileNo"> MobileNo </label>
                                    <input type="text" asp-for="MobileNo" class="form-control" placeholder="MobileNo">
                                    <span asp-validation-for="MobileNo"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="ContactPersonName"> ContactPersonName </label>
                                    <input type="text" asp-for="ContactPersonName" class="form-control" placeholder="ContactPersonName">
                                    <span asp-validation-for="ContactPersonName"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LandLineNo"> LandLineNo </label>
                                    <input type="text" asp-for="LandLineNo" class="form-control" placeholder="LandLineNo">
                                    <span asp-validation-for="LandLineNo"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="WebsiteUrl"> WebsiteUrl </label>
                                    <input type="text" asp-for="WebsiteUrl" class="form-control" placeholder="WebsiteUrl">
                                    <span asp-validation-for="WebsiteUrl"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password"> Password </label>
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="Password"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="CityID"> City Name </label>
                                    <select class="form-select" asp-for="CityID" asp-items="@ViewBag.CityID">
                                        <option> Select City </option>
                                    </select>
                                    <span asp-validation-for="CityID"></span>
                                </div>

                                <button type="submit" class="btn btn-gradient-primary me-2"> Submit </button>
                                <button class="btn btn-light"> Reset </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/adminassets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/adminassets/js/off-canvas.js"></script>
    <script src="~/adminassets/js/hoverable-collapse.js"></script>
    <script src="~/adminassets/js/misc.js"></script>
   
</body>
</html>



