<html>
    <head>
        <title> Home-Index </title>
    </head>
    <body> 
        <h2> Home Controller Index Action Called...!</h2>
        <hr />
        <partial name="_boxPartial" />
        <hr />
        <partial name="_EmpPartial" />
    </body>
</html>