<html>
    <head>
        <title> Test-Home </title>
    </head>
    <body>
        <div>
            <h2> Test Controller Index Action Called </h2>
        <partial name="boxPartial" />
        </div>
    </body>
</html>