
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Events</title>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("#btn1").click(function () {
            //    alert("Function Executed...!");
            //});

            //$("#btn2").click(function () {
            //    alert("First Button Executed...!");
            //});

            //$(":button").click(function () {
            //    alert("Common for all button...!");
            //});

            //$("div").mouseout(function () {
            //    $(this).css("background-color", "yellow");
            //});

            $("div").mouseover(function () {
                //$(this).css("background-color", "tomato");
                $("div").css("background-color", "tomato");
            })

        });
    </script>
</head>
<body>
    <div style="background-color:aqua;width:100px;height:100px;"> 
    </div>
    <input type="button" value="Click" id="btn1" />
    <input type="button" value="First" id="btn2" />
    <input type="button" value="Second" id="btn3" />
</body>
</html>
