@model DoctorRatingVM

@foreach(var rating in Model.Ratings)
{
    <div>
        <p>@rating.Review</p>
        <p>Rating:@rating.Rating</p>
    </div>
}

<form asp-action="AddDRating" method="post">
    <input type="hidden" asp-for="Doctor.DoctorID"/>

    <div>
        <label for="Rating">Rating</label>
        <select>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
            <option value="4"> 4 </option>
            <option value="5"> 5 </option>
        </select>
    </div>

    <div>
        <label for="Review"> Review </label>
        <textarea asp-for="Review"></textarea>
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-outline-info" />
    </div>
</form>
