
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
   <link href="~/Content/bootstrap.css" rel="stylesheet" />
   <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container"> 
        <h1> Welcome to Bootstrap </h1>
        <p>
            this is bootstrap used to demo 
            this is bootstrap used to demo 
            this is bootstrap used to demo 
            this is bootstrap used to demo 
            this is bootstrap used to demo <br />
            this is bootstrap used to demo <br />
            this is bootstrap used to demo <br />

        </p>
    </div>
    <div class="container-fluid">
        <h2> This is fluid container </h2>
        <p>
            This is content of fluid container used to demo 
            This is content of fluid container used to demo 
            This is content of fluid container used to demo 
            This isssss content of fluid container used to demo 
            This issssss content of fluid container used to demo <br />
            This is content of fluid container used to demo <br />
            This is content of fluid container used to demo <br />
            This is content of fluid container used to demo <br />

        </p>
    </div>
</body>
</html>
