<html>
    <head>
        <title> Home-Index </title>
    </head>
    <h2> Index </h2>
    <body>
        <h2> Welcome to Home Index </h2>
        <a asp-controller="Home" asp-action="About"> Go to About </a> <br />
        <a asp-controller="ABC" asp-action="Index"> Go to Index </a> <br />
        <a asp-controller="ABC" asp-action="SayHello" asp-route-str="abc@gmail.com" asp-route-id="visual@hotmail.com"> Go to SayHello </a> <br />
        <a asp-controller="Home" asp-action="Create"> Go to Form </a>
    </body>
</html>