
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<h2>About</h2>

<p>
    Welcome to About view. <br />
    Welcome to About view. <br />
    Welcome to About view. <br />
    Welcome to About view. <br />
    Welcome to About view. <br />
    Welcome to About view. <br />
    Welcome to About view. <br />
    Welcome to About view. <br />
    Welcome to About view. <br />
</p>

@section head{
    <script type="text/javascript">
        alert("About Called...!");
    </script>
}

@section news{

    <marquee> About Action of Test Controller </marquee>
}

@section footer{
    About at Footer
}

