
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<h2>Contact</h2>

<p>
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
    Welcome to Contact view. <br />
</p>

@section head{
    <script type="text/javascript">
        alert("Contact Called...!");
    </script>
}

@section news{

    <marquee> Contact Action of Test Controller </marquee>
}

@section footer{
    Contact at Footer
}
