
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<h2>Index</h2>
<p>
    Welcome to Index view. <br />
    Welcome to Index view. <br />
    Welcome to Index view. <br />
    Welcome to Index view. <br />
    Welcome to Index view. <br />
    Welcome to Index view. <br />
    Welcome to Index view. <br />
    Welcome to Index view. <br />
    Welcome to Index view. <br />
</p>

@section head{
    <script type="text/javascript">
        alert("Index Called...!");
    </script>
    }

@section news{
   
    <marquee> Index Action of Test Controller </marquee>
    }

@section footer{
    Index at Footer
    }