@model IEnumerable<Views.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetProduct</title>
</head>
<body>
    <div> 
        <h2> Product Information </h2>
        <table>
            <thead>
                <th> ProductId </th>
                <th> ProductName </th>
                <th> MfgName </th>
                <th> Price </th>
            </thead>
            <tbody>
               @foreach(var temp in Model)
            {
                <tr>
                    <td>@temp.ProducrId</td>
                    <td>@temp.ProductName</td>
                    <td>@temp.MfgName</td>
                    <td>@temp.Price</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</body>
</html>
