@model Views.Models.Emp
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Model</title>
</head>
<body>
    <div> 
        <h1> EMP Details </h1>
        EmpID:@Model.EmpId <br />
        EmpName:@Model.EmpName <br />
        DeptName:@Model.DeptName <br />
        MobileNo:@Model.MobileNo <br />
        Salary:@Model.Salary <br /> 
    </div>
</body>
</html>
