
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>
</head>
<body>
    <div> 
        <h1> Project Information </h1>
        ProjectID:@TempData["ProjectId"] <br />
        ProjectName:@TempData["ProjectName"] <br />
        ProjectArea:@TempData["ProjectArea"] <br />
        Budget:@TempData["Budget"] <br />
    </div>
</body>
</html>
