
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div> 
        EmpID:@ViewData["EmpId"] <br />
        EmpName:@ViewData["EmpName"] <br />
        DeptName:@ViewData["DeptName"] <br />
        Salary:@ViewData["Salary"] <br />
    </div>
</body>
</html>
