
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPro</title>
</head>
<body>
    <div> 
        ProductID:@ViewBag.ProductId <br />
        ProductName:@ViewBag.ProductName <br />
        MfgName:@ViewBag.MfgName <br />
        Price:@ViewBag.Price <br />
    </div>
</body>
</html>
