@model DrClSessionVM

<html>
    <head>
        <title> Dr-ClinicSession </title>
    </head>
    <body>
        <h3> Doctor Clinic Session </h3> <br />
        <form>
        <div class="form-group">
            <ul class="nav">
              <li>
              <label asp-for="OpdSessionID"> Session Name </label>
              <select class="form-select"  asp-for="OpdSessionID" asp-items="@ViewBag.OpdSessionID">
                   <option> Morning Session </option>
              </select>
                </li>
              <li>
              <label asp-for="StartTime"> StartTime </label>
              <input type="text" class="form-control" asp-for="StartTime">
                </li>
                <li>
              <label asp-for="EndTime"> EndTime </label>
              <input type="text" class="form-control" asp-for="EndTime">
                </li>
                <li>
              <label asp-for="TimeInterval"> TimeInterval </label>
              <input type="text" class="form-control" asp-for="TimeInterval">
                </li>
            </ul>
        </div>

        <div class="form-group">
            <ul class="nav">
                <li>
              <label asp-for="OpdSessionID"> Session Name </label>
              <select class="form-select"  asp-for="OpdSessionID" asp-items="@ViewBag.OpdSessionID">
                   <option> Evening Session </option>
              </select>
                </li>
                <li>
            <label asp-for="StartTime"> StartTime </label>
            <input type="text" class="form-control" asp-for="StartTime">
                </li>
                <li>
            <label asp-for="EndTime"> EndTime </label>
            <input type="text" class="form-control" asp-for="EndTime">
                </li>
                <li>
            <label asp-for="TimeInterval"> TimeInterval </label>
            <input type="text" class="form-control" asp-for="TimeInterval">
                </li>
            </ul>
        </div>
        </form>
    </body>
</html>