@model IEnumerable<City>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="title">City List</h2>
                    <a asp-action="Create" class="btn btn-primary"> Create New </a>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr align="center">
                                <th> Sr.No </th>
                                <th> CityName </th>
                                <th> State Name </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int srno = 1;
                            }
                            @foreach (var temp in Model)
                            {
                                <tr>
                                    <td align="center"> @srno </td>
                                    <td align="center"> @temp.CityName</td>
                                    <td align="center"> @temp.States.StateName </td>
                                    <td align="center">
                                        <a asp-action="Edit" asp-route-id="@temp.CityID" class="btn btn-info"> Edit </a>
                                        <a asp-action="Delete" asp-route-id="@temp.CityID" class="btn btn-Danger"> Delete </a>
                                    </td>
                                </tr>
                                srno++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>