<html>
    <head>
        <title> Test-Index</title>
    </head>
    <body>
        <h2> Test Controller Index Action Called...!</h2>
        <hr />
        <partial name="_boxpartial" />
        <hr />
        <partial name="_EmpPartial" />
    </body>
</html>