<html>
    <div style="background-color:aqua; width:200px; height:100px;">
        <h2> Welcome To Partial View </h2>
        <p>
            This is partial view for demo
        </p>
    </div>
</html>