
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <h2> Custom View Error </h2>
        <p>
            There is some problem please try again after sometime
        </p>
    </div>
</body>
</html>
