
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div> 
        <h2> You logged out successfully...! </h2>
        <div>
            @Html.ActionLink("Click here to SignIn","SignIn","ManageUser")
        </div>
    </div>
</body>
</html>
