@{
    Layout = "";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/adminassets/vendors/mdi/css/materialdesignicons.min.css">
    <script src="~/adminassets/vendors/js/vendor.bundle.base.js"></script>
    <link rel="stylesheet" href="~/adminassets/css/style.css">
    <link rel="shortcut icon" href="~/adminassets/images/favicon.ico">
</head>

<body>
    <h1> Logged Out Successfully </h1>
    <p> For Sign In again <a asp-action="SignIn" asp-controller="ManageUser" class="btn btn-block btn-gradient-Primary btn-lg font-weight-medium auth-form-btn"> Click Here </a></p>

    <script src="~/adminassets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/adminassets/js/off-canvas.js"></script>
    <script src="~/adminassets/js/hoverable-collapse.js"></script>
    <script src="~/adminassets/js/misc.js"></script>
</body>
</html>