@model Emp

<html>
    <head>
        <title> Home-Create </title>
    </head>
    <body>
        <h2> Add Emp Details </h2>
        <form asp-action="Create" method="post">
            <div>
                <label asp-for="EmpName"></label>
                <div>
                    <input asp-for="EmpName" />
                </div>
            </div>

            <div>
                <label asp-for="MobileNo"></label>
                <div>
                    <input asp-for="MobileNo" />
                </div>
            </div>

            <div>
                <label asp-for="Address"></label>
                <div>
                    <input asp-for="Address" />
                </div>
            </div>

            <div>
                <label asp-for="Salary"></label>
                <div>
                    <input asp-for="Salary" />
                </div>
            </div>

            <div>
                <label asp-for="Dept.DeptName"></label>
                <div>
                    <select asp-for="DeptID" asp-items="@ViewBag.DeptID">
                        <option> Select Dept </option>
                    </select>
                </div>
            </div>

            <div>
                <input type="submit" value="Save" />
            </div>
        </form>
    </body>
</html>