@model LoginVM
<html>
    <head>
        <title> Login </title>
    </head>
    <body>
        <div>
            <h2> User Login </h2>
          <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="EmailID"></label>
                <div>
                    <input asp-for="EmailID" />
                    <span asp-validation-for="EmailID"></span>
                </div>
            </div>

            <div>
                <label asp-for="Password"></label>
                <div>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
            </div>

            <div>
                <input type="submit" value="Login" />
                <hr />
                <a asp-action="Register"> New User Registration </a>
            </div>
          </form>
        </div>
    </body>
</html>