<html>
<head>
    <title> Logout </title>
</head>
<body>
    <h2> Your are logged out Successfull! </h2>
    <a asp-action="Login" asp-controller="ManageUsers">Click Here for Login Again </a>

</body>
</html>