@model DocSpecilityVM

<h2> Add Doctor Info </h2>

<div class="card">
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="text-danger" asp-validation-summary="ModelOnly" ></div>

            <div class="form-group">
                <label asp-for="FirstName"> First Name  </label>
                <input type="text" class="form-control" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"> Last Name  </label>
                <input type="text" class="form-control" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MobileNo"> MobileNo  </label>
                <input type="text" class="form-control" asp-for="MobileNo">
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IsAvailable"> Is Available  </label>
                <input type="checkbox" class="form-check-input" asp-for="IsAvailable">
                <span asp-validation-for="IsAvailable" class="form-check-input"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"> Address  </label>
                <input type="text" class="form-control" asp-for="Address">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DoctorExperience"> Doctor Experience  </label>
                <input type="text" class="form-control" asp-for="DoctorExperience">
                <span asp-validation-for="DoctorExperience" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhotoPath" class="form-label"> Upload Photo </label>
                <input type="file" class="form-control" asp-for="DoctorPhoto" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DoctorQualification"> Doctor Qualification </label>
                <input type="text" class="form-control" asp-for="DoctorQualification">
                <span asp-validation-for="DoctorQualification" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailID"> EmailID </label>
                <input type="text" class="form-control" asp-for="EmailID">
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"> Password </label>
                <input type="text" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AreaID"> Area Name </label>
                <select class="form-select" asp-for="AreaID" asp-items="@ViewBag.AreaID">
                    <option> Select Area </option>
                </select>
                <span asp-validation-for="AreaID"></span>
            </div>

            <div class="col-12">
                <label asp-for="SpecilityID" class="form-label">Select Specility: </label>
                @await Component.InvokeAsync("SpecilityCheckBoxListVC")
            </div>
        </div>

        <h4> Doctor Clinic Session </h4>
        @*Doctor Clinic Session Start*@
        @for(int i=0; i<2; i++)
        {
        <div class="form-group">
            <ul class="nav">
                <li>
                        <label asp-for="DoctorClinicSessions[i].OpdSessionID"> Session Name </label>
                        <select class="form-select" asp-for="DoctorClinicSessions[i].OpdSessionID" asp-items="@ViewBag.OpdSessionID">
                        <option> Select Session </option>
                        </select>
                </li>
                <li>
                        <label asp-for="DoctorClinicSessions[i].StartTime"> StartTime </label>
                        <input type="datetime-local" class="form-control" asp-for="DoctorClinicSessions[i].StartTime">
                </li>
                <li>
                        <label asp-for="DoctorClinicSessions[i].EndTime"> EndTime </label>
                        <input type="datetime-local" class="form-control" asp-for="DoctorClinicSessions[i].EndTime">
                </li>
                <li>
                        <label asp-for="DoctorClinicSessions[i].TimeInterval"> TimeInterval </label>
                        <input type="text" class="form-control" asp-for="DoctorClinicSessions[i].TimeInterval">
                </li>
            </ul>
        </div>
        }
  
        @*Doctor Clinic Session End*@
        <div class="text-center">
            <button type="submit" class="btn btn-gradient-primary me-2"> Save </button>
        </div>
    </form> 
</div><br />

@*<div class="form-group">
            <ul class="nav">
                <li>
                    <label asp-for="OpdSessionID"> Session Name </label>
                    <select class="form-select" asp-for="OpdSessionID" asp-items="@ViewBag.OpdSessionID">
                        <option> Evening Session </option>
                    </select>
                </li>
                <li>
                    <label asp-for="StartTime"> StartTime </label>
                    <input type="datetime-local" class="form-control" asp-for="StartTime">
                </li>
                <li>
                    <label asp-for="EndTime"> EndTime </label>
                    <input type="datetime-local" class="form-control" asp-for="EndTime">
                </li>
                <li>
                    <label asp-for="TimeInterval"> TimeInterval </label>
                    <input type="text" class="form-control" asp-for="TimeInterval">
                </li>
            </ul>
        </div>*@
@*@await Component.InvokeAsync("DrClinicSessionVC")*@

