
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DomMani</title>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn1").click(function () {
                 //var str = "<div> Welcome to New Div </div>";
                 ////$("#dv").after(str);
                 //$("#dv").before(str);

               // var l = "<li> New Option <li>";
               //// $("ul").append(l);
               // $("ul").prepend(l);

               // $("#dv").remove();
               // $("li").eq(2).remove();
                var s = "<span> Welcome to Span </span>";
                $(s).replaceAll("p");

               // $("span").wrap("<p></p>");

            });
        });
    </script>
</head>
<body>
    <div id="dv" style="background-color:deepskyblue;color:white;">
        This is div used to demo!
    </div>
    <ul>
        <li> First </li>
        <li> Second </li>
        <li> Third </li>
        <li> Fourth </li>
        <li> Fifth </li>
        <li> Sixth </li>
    </ul>
    <p> First para used for demo </p>
    <p> Second para used for demo </p>
    <p> Third para used for demo </p>
    <p> Fouth para used for demo </p>

    <span> First Span </span>
    <span> Second Span </span>
    <span> Third Span </span>
   
    <input type="button" value="Click" id="btn1" />
</body>
</html>
