
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DomTraversal1</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {

            /*$("#head").next().css("background-color", "orange");*/
            /*$("#head").nextAll().css("background-color", "skyblue");*/
            /*$("#head").nextUntil("span").css("background-color", "wheat");*/
            /*$("#head").prev().css("background-color", "tomato");*/
            $("#head").prevAll().css("background-color", "lime");
        });
    </script>
</head>
<body>
    <div> 
        <h1> First Heading </h1>
        <p> Content of first heading </p>
        <h1> Second Heading </h1>
        <p> Content of Second heading </p>
        <h1 id="head"> Third Heading </h1>
        <p> Content of third heading </p>
        <h1> Fourth Heading </h1>
        <p> Content of fourth heading </p>
        <h1> Fifth Heading </h1>
        <span> This is span after fifth heading </span>
        <p> Content of fifth heading </p>
    </div>
</body>
</html>
