
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Effects</title>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script type="text/javascript">

        $(function () {

            function SayHello() {
                alert("Say Hello");
            }

            $("#btn1").click(function () {
                //$("div").hide(5000, SayHello);
                //$("div").slideUp(2000);
                //$("div").fadeOut(3000);
            });

            $("#btn2").click(function () {
                //$("div").show(1000);
                //$("div").slideDown(2000);
                //$("div").fadeIn(2000);
            });

            $("#btn3").click(function () {
                //$("div").slideToggle();
                $("div").fadeToggle(2000);
            });

            $("#btn4").click(function () {
                //$("div").fadeTo(1000, 0.5);
            });

            $("#btn5").click(function () {
                $("div").animate({
                    "width": "200px", "height": "200px"
                });
            });


        });

    </script>
</head>
<body>
    <div style="width:100px;height:100px;background-color:maroon;"> 
    </div>
    <input type="button" value="Hide" id="btn1" />
    <input type="button" value="Show" id="btn2" />
    <input type="button" value="Toggle" id="btn3" />
    <input type="button" value="Fade" id="btn4" />
    <input type="button" value="Animate" id="btn5" />
</body>
</html>
