
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FewMoreSelectors</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("li:first").css("background-color", "orange");
            //$("li:last").css("background-color", "tomato");
            $("[href]").css("backgroun-color", "gold");
            $(":button").css("background-color", "gold");
            $("a[target=_blank]").css("background-color", "yellow");
        });
    </script>
</head>
<body>
    <div>
        <button> Click </button>
        <!-- <input type="text" name="Click" /> -->
        <br />
        <ul>
            <li> First </li>
            <li> Second </li>
            <li> Third </li>
            <li> Fourth </li>
            <li> Fifth </li>
            <li> Sixth </li>
        </ul>
        <br />
        <a target="_self"> First Link </a>
        <a target="_parent"> Second Link </a>
        <a href="#"> Third Link </a>
        <a target="_blank"> Fourth Link </a>
    </div>
</body>
</html>
