
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {
            alert("Welcome To JQuey...!")
        });
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
