
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Selectors</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("h1").css("background-color", "orange");
            //$("h2").css("background-color", "tomato");
            /*$("h1,span").css("background-color", "lime");*/
            /*$(".head").css("background-color", "yellow");*/
            /*$(".head").css("background-color", "skyblue");*/
            //$("#fcontent").css("background-color", "orange");
            //$("#fhead").css("background-color", "gold");
           /* $("h1,.content").css("background-color", "wheat");*/
            /*$("h2,#fhead").css("background-color", "gray");*/
            $("h1:first").css("background-color", "tomato");
            $("h2:last").css("baackground-color", "gold");

        });
    </script>
</head>
<body>
    <div> 
        <h1 class="head"> First Heading </h1>
        <p> Content of First Heading </p>
        <h1 class="content"> Second Heading </h1>
        <p> Content of second heading </p>
        <h2 id="fcontent"> Third Heading </h2>
        <p id="fhead"> Content of third heading </p>
        <h1 class="head"> Fourth Heading </h1>
        <p> Content of fourth heading </p>
        <h2> Fifth Heading </h2>
        <p id="fhead"> Content of fifth heading </p>
        <span class="head"> Content without any tag </span>
    </div>
</body>
</html>
