<html>
    <head>
        <title> Users-Logout </title>
    </head>
    <body>
        <h2> You are logged out Successfully </h2>
        <a asp-action="LogIn" asp-controller="ManageUsers"> Click Here to Login </a>
    </body>
</html>