@model Book
<div>
    <h2> Book Info </h2>
    <table border="1">
        <tr>
            <td> BookID </td>
            <td> @Model.BookID </td>
        </tr>
        <tr>
            <td> BookName </td>
            <td> @Model.BookName </td>
        </tr>
        <tr>
            <td> AuthorName </td>
            <td> @Model.AuthorName </td>
        </tr>
        <tr>
            <td> Price </td>
            <td> @Model.Price </td>
        </tr>
    </table>
</div>