
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FewMoreComponents</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li class="page-item"> <a class="page-link"> First </a></li>
                    <li class="page-item"> <a class="page-link"> Second </a></li>
                    <li class="page-item"> <a class="page-link"> Third </a></li>
                    <li class="page-item"> <a class="page-link"> Fourth </a></li>
                    <li class="page-item"> <a class="page-link"> Fifth </a></li>
                </ul>
                <br />
                <br />
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"> <a href="#">  First </a></li>
                    <li class="breadcrumb-item"> <a href="#"> Second </a></li>
                    <li class="breadcrumb-item"> <a href="#"> Third </a></li>
                    <li class="breadcrumb-item"> <a href="#"> Fourth </a></li>
                    <li class="breadcrumb-item"> <a href="#"> Fifth </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <div class="progress">
                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated " style="width:90%;"> Your task is in progress</div>
                </div>
                <br />
                <div class="progress">
                    <div class="progress-bar bg-success" style="width:90%;"> Your task is in progress</div>
                </div>
                <br />
                <div class="progress">
                    <div class="progress-bar bg-warning" style="width:90%;"> Your task is in progress</div>
                </div>
                <br />
                <br />
                <div class="spinner-border text-danger"></div>
                <div class="spinner-border text-primary"></div>
                <div class="spinner-border text-info"></div>
                <div class="spinner-border text-success"></div>
                <br />
                <br />
                <div class="spinner-grow text-danger"></div>
                <div class="spinner-grow text-primary"></div>
                <div class="spinner-grow text-warning"></div>
                <div class="spinner-grow text-info"></div>
                <br />
                <br />
                <button class="btn btn-danger"> <span class="spinner-border spinner-border-sm"></span> Click </button>

            </div>
        </div>
    </div>
</body>
</html>
