
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Grid</title>
    <style type="text/css">
        .box {
            border:1px solid blue;
        }
    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 box align-items-end">
                First Cell <br />
                First Cell <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 box">
                Second cell <br />
                Second cell <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 box">
                Third Cell <br />
                Third Cell <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 box offset-md-1">
                First Content <br />
                First Content <br />
                First Content <br />
                First Content <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 box">
                First Cell <br />
                First Cell <br />
                First Cell <br />
            </div>
            <div class="col-md-4 box">
                Second Cell <br />
                Second Cell <br />
                Second Cell <br />
            </div>
            <div class="col-md-4 box">
                Third Cell <br />
                Third Cell <br />
                Third cell <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 box">
                First Cell <br />
                First Cell <br />
                First Cell <br />
            </div>
            <div class="col-md-2 box">
                Second Cell <br />
                Second cell <br />
                Second cell <br />
            </div>
            <div class="col-md-2 box">
                Third Cell <br />
                Third Cell <br />
                Third Cell <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 box">
                First Cell <br />
                First Cell <br />
                First Cell <br />
            </div>
            <div class="col-md-2 box">
                Second Cell <br />
                Second Cell <br />
                Second Cell <br />
            </div>
            <div class="col-md-4 box">
                Third Cell <br />
                Third Cell <br />
                Third Cell <br />
            </div>
            <div class="col-md-3 box">
                Fourth Cell <br />
                Fourth Cell <br />
                Fourth Cell <br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 box">
                <div class="row">
                    <div class="col-md-4 box">
                        First Cell
                    </div>
                    <div class="col-md-4 box">
                        Second Cell
                    </div>
                    <div class="col-md-4 box">
                        Third Cell
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 box">
                        First Cell
                    </div>
                    <div class="col-md-6 box">
                        Second Cell
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 box">
                        First Cell
                    </div>
                    <div class="col-md-4 box">
                        Second Cell
                    </div>
                    <div class="col-md-5 box">
                        Third Cell
                    </div>
                </div>
            </div>
            <div class="col-md-8 box">
                <div class="row">
                    <div class="col-md-3 box">
                        First Cell
                    </div>
                    <div class="col-md-auto box">
                        Second Cell SEcond Cell Second cell
                    </div>
                    <div class="col-md-3 box">
                        Third Cell
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-4 box">
                First Cell <br />
                First Cell <br />
                First Cell <br />
            </div>
            <div class="col-md-4 box">
                Second Cell <br />
                Second Cell <br />
                Second Cell <br />
            </div>

        </div>

        <div class="row justify-content-between">
            <div class="col-md-4 box">
                First Cell <br />
                First Cell <br />
                First Cell <br />
            </div>
            <div class="col-md-4 box">
                Second Cell <br />
                Second Cell <br />
                Second Cell <br />
            </div>

        </div>

    </div>
</body>
</html>
