
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Images</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item bg-success"> First </li>
                    <li class="list-group-item active"> Second </li>
                    <li class="list-group-item disabled"> Third </li>
                    <li class="list-group-item"> Fourth </li>
                    <li class="list-group-item"> Fifth </li>
                    <li class="list-group-item bg-danger"> Sixth </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <ul class="list-inline">
                    <li class="list-inline-item"> First </li>
                    <li class="list-inline-item"> Second </li>
                    <li class="list-inline-item"> Third </li>
                    <li class="list-inline-item"> Fourth </li>
                    <li class="list-inline-item"> Fifth </li>
                </ul>

                <br />
                <ul class="list-unstyled list-inline">
                    <li> First </li>
                    <li> Second </li>
                    <li> Third </li>
                    <li> Fourth </li>
                    <li> Fifth </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <br />
                <img src="~/Content/lion.jpg" class="img-fluid" />


                <br />
                <img src="~/Content/lion.jpg" width="200" class="img-thumbnail float-start" />


                <img src="~/Content/lion.jpg" width="200" class="rounded-circle float-end" />

                <br />
                <img src="~/Content/lion.jpg" width="200" class="rounded" />

            </div>
        </div>
    </div>
</body>
</html>
