
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MarginPadding</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container">  
        <div class="row">
             <div class="col-md-12 bg-dark">
                 <p class="bg-success mx-5 my-5 px-5 py-5">
                     First para used to demo <br />
                     First para used to demo <br />
                     First para used to demo <br />
                 </p>
             </div>
        </div>
    </div>
</body>
</html>
