
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Navigation</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    @*<div class="container-fluid">
            <ul class="nav justify-content-start flex-column">
                <li class="nav-item"> <a class="nav-link" href="/Home/Index"> Home </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Home/About"> About </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Home/Contact"> Contact </a></li>
                <li class="nav-item"> <a class="nav-link" href="/Home/Services">Services </a></li>
            </ul>
        </div>*@

    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item"> <a class="nav-link" href="/Home/Index"> Home </a></li>
            <li class="nav-item"> <a class="nav-link" href="/Home/About"> About </a></li>
            <li class="nav-item"> <a class="nav-link" href="/Home/Contact"> Contact </a></li>
            <li class="nav-item"> <a class="nav-link" href="/Home/Services">Services </a></li>
        </ul>
    </div>

</body>
</html>
