
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeComponents</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
             <div class="col-md-12">
                 <p>
                     Out of <span class="badge bg-primary">100</span> passed out engineers only <span class="badge rounded-pill bg-danger">20</span> are capable to work in industry. 

                 </p>
             </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Alerts</h2>
                <br />
                <span class="alert alert-success fade show alert-dismissible">
                    Alert Success

                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>

                </span> <br /><br /><br />
                <span class="alert alert-danger"> Alert Danger</span> <br /><br /><br />
                <span class="alert alert-info"> Alert Info </span> <br /><br /><br />
                <span class="alert alert-warning"> Alert WArning</span> <br /><br /><br />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <button class="btn btn-danger"> Button Click </button>
                <a class="btn btn-success disabled"> Link Click </a>
                <input class="btn btn-primary" type="button" value="button" />
                <input class="btn btn-info" type="submit" value="Submit" />
                <input class="btn btn-warning" type="reset" value="Reset" />
                <br />
                <br />
                <button class="btn btn-outline-danger"> First </button>
                <button class="btn btn-outline-info"> Second </button>
                <button class="btn btn-outline-primary"> Third </button>
                <button class="btn btn-outline-success" disabled> Fourth </button>
                <button class="btn btn-outline-warning active"> Fifth </button>
                <br />
                <br />
                <button class="btn btn-danger btn-lg"> click </button>
                <button class="btn btn-success"> click </button>
                <button class="btn btn-info btn-sm"> click </button>
                <br />
                <br />
                <div style="background-color:gray;" class="d-grid">
                    <button class="btn btn-danger"> click </button>
                </div>
                <br />
                <br />
                <div class="btn-group">
                    <button class="btn btn-danger"> Save</button>
                    <button class="btn btn-success"> Update </button>
                    <button class="btn btn-warning"> Delete </button>
                </div>
                <br />
                <br />
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-danger"> Save</button>
                    <button class="btn btn-success"> Update </button>
                    <button class="btn btn-warning"> Delete </button>
                </div>
                <br />
                <br />
                <div class="btn-group-vertical">
                    <button class="btn btn-danger"> Save</button>
                    <button class="btn btn-success"> Update </button>
                    <button class="btn btn-warning"> Delete </button>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
    
</body>
</html>
