
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TablesandImages</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2> Product Table</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Prduct ID </th>
                            <th> Prdouct Name </th>
                            <th> Mfg Name</th>
                            <th> Price </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-danger">
                            <td> 1 </td>
                            <td> Mouse </td>
                            <td> Intex </td>
                            <td> 450 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Keyboard </td>
                            <td> Logitech </td>
                            <td> 550 </td>
                        </tr>

                        <tr>
                            <td> 3 </td>
                            <td> Monitor </td>
                            <td> LG </td>
                            <td> 4500 </td>
                        </tr>

                        <tr class="table-success">
                            <td> 4 </td>
                            <td> Cabinate </td>
                            <td> Circle </td>
                            <td> 4500 </td>
                        </tr>
                    </tbody>
                </table>


                <h2> Product Table</h2>
                <table class="table table-warning">
                    <thead>
                        <tr>
                            <th> Prduct ID </th>
                            <th> Prdouct Name </th>
                            <th> Mfg Name</th>
                            <th> Price </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-danger">
                            <td> 1 </td>
                            <td> Mouse </td>
                            <td> Intex </td>
                            <td> 450 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Keyboard </td>
                            <td> Logitech </td>
                            <td> 550 </td>
                        </tr>

                        <tr>
                            <td> 3 </td>
                            <td> Monitor </td>
                            <td> LG </td>
                            <td> 4500 </td>
                        </tr>

                        <tr class="table-success">
                            <td> 4 </td>
                            <td> Cabinate </td>
                            <td> Circle </td>
                            <td> 4500 </td>
                        </tr>
                    </tbody>
                </table>



                <h2> Striped Product Table</h2>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> Prduct ID </th>
                            <th> Prdouct Name </th>
                            <th> Mfg Name</th>
                            <th> Price </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Mouse </td>
                            <td> Intex </td>
                            <td> 450 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Keyboard </td>
                            <td> Logitech </td>
                            <td> 550 </td>
                        </tr>

                        <tr>
                            <td> 3 </td>
                            <td> Monitor </td>
                            <td> LG </td>
                            <td> 4500 </td>
                        </tr>

                        <tr>
                            <td> 4 </td>
                            <td> Cabinate </td>
                            <td> Circle </td>
                            <td> 4500 </td>
                        </tr>

                        <tr>
                            <td> 5 </td>
                            <td> Marker </td>
                            <td> Renolds </td>
                            <td> 45 </td>
                        </tr>

                    </tbody>
                </table>


                <h2> Border less Product Table</h2>
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th> Prduct ID </th>
                            <th> Prdouct Name </th>
                            <th> Mfg Name</th>
                            <th> Price </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> 1 </td>
                            <td> Mouse </td>
                            <td> Intex </td>
                            <td> 450 </td>
                        </tr>
                        <tr>
                            <td> 2 </td>
                            <td> Keyboard </td>
                            <td> Logitech </td>
                            <td> 550 </td>
                        </tr>

                        <tr>
                            <td> 3 </td>
                            <td> Monitor </td>
                            <td> LG </td>
                            <td> 4500 </td>
                        </tr>

                        <tr>
                            <td> 4 </td>
                            <td> Cabinate </td>
                            <td> Circle </td>
                            <td> 4500 </td>
                        </tr>

                        <tr>
                            <td> 5 </td>
                            <td> Marker </td>
                            <td> Renolds </td>
                            <td> 45 </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>
</html>
