
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Typography</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container">
      <div class="row">
          <div class="col-md-12">
               <span class="text-uppercase"> this is small content </span>
               <span class="text-lowercase"> THIS IS CAPITAL CONTENT </span>
               <span class="text-capitalize"> this is small content </span>
              <br />
               <h1 class="display-1"> First Heading </h1>
               <h1 class="display-2"> Second Heading </h1>
               <h1 class="display-3"> Third Heading </h1>
               <h1 class="display-4"> Fourth Heading </h1>
              <br />
               <span class="h1"> First </span>
              <span class="h2"> Second </span>
              <span class="h3"> Third </span>
              <span class="h4"> Fourth </span>
              <span class="h5"> Fifth </span>
              <span class="h6"> Sixth</span>


              <h1 class="text-danger bg-warning text-center"> First Heading </h1>
              <h2 class="text-primary bg-danger text-start"> Second Heading </h2>
              <h3 class="text-success bg-info text-end"> Third Heading </h3>
              <h4 class="text-warning bg-success"> Fourth Heading </h4>
              <h5 class="text-info bg-dark"> Fifth Heading </h5>
              <p>
                  Welcome to First Heading Content used to demo <br />
                  Welcome to First Heading Content used to demo <br />
                  Welcome to First Heading Content used to demo <br />
                  Welcome to First Heading Content used to demo <br />
                  Welcome to First Heading Content used to demo <br />
                  Welcome to First Heading Content used to demo
              </p>

              <p class="text-info bg-danger">
                  Welcome to Second Heading Content used to demo <br />
                  Welcome to Second Heading Content used to demo <br />
                  Welcome to Second Heading Content used to demo <br />
                  Welcome to Second Heading Content used to demo <br />
                  Welcome to Second Heading Content used to demo <br />
                  Welcome to Second Heading Content used to demo
              </p>

          </div>
      </div>
    </div>
</body>
</html>
