@model ClinicFacility

<div class="card">
    <form asp-action="Create" method="post">
        <div class="card-body">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="FacilityName"> Facility Name  </label>
                <input type="text" class="form-control" asp-for="FacilityName">
                <span asp-validation-for="FacilityName" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="Clinic"> Clinic Name </label>
                <select class="form-select" asp-for="ClinicID" asp-items="@ViewBag.ClinicID">
                    <option> Select City </option>
                </select>
                <span asp-validation-for="ClinicID"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-gradient-primary me-2"> Create </button>
            </div>
        </div>
    </form>
</div>

