@model Customer

<html>
    <head>
        <title> Home-Create </title>
    </head>
    <body>
        <h2> Add Customer Details </h2>
        <form asp-action="Create" method="post">
            <div>

            <div>
                <label asp-for="FirstName"></label>
                <div>
                    <input asp-for="FirstName" />
                </div>
            </div>

            <div>
                <label asp-for="LastName"></label>
                <div>
                    <input asp-for="LastName" />
                </div>
            </div>

            <div>
                <label asp-for="EmailID"></label>
                <div>
                    <input asp-for="EmailID" />
                </div>
            </div>

            <div>
                <label asp-for="CreditLimit"></label>
                <div>
                    <input asp-for="CreditLimit" />
                </div>
            </div>

            <div>
                <label asp-for="Area.AreaName"></label>
                <div>
                    <select asp-for="AreaID" asp-items="@ViewBag.AreaID">
                        <option> Select AreaName </option>
                    </select>
                </div>
            </div>
            <br />
            <div>
                <input type="submit" value="Save" />
            </div>
            </div>
        </form>
    </body>
</html>