
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Selectors</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {
            //$("h1").css("background-color", "orange")
            //$("p").css("background-color","red")
            //$("h1,h2").css("background-color","yellow")
            $(".head").css("background-color", "skyblue")
            $("h2.head").css("background-color","red")
        })
    </script>
</head>
<body>
    <div> 
        <h1 class="head"> First  Heading </h1>
        <p>This is content for first heading </p>
        <h2> Second Heading </h2>
        <p> This is content for second heading </p>
        <h1> Third Heading </h1>
        <p> This is content for third heading </p>
        <h2 class="head"> Fourth Heading </h2>
        <p class="head"> This is content for fourth heading </p>
        <h1> Fifth Heading </h1>
        <p> This is content for fifth heading </p>
    </div>
</body>
</html>
