<html>
    <head>
        <title> Error-Index </title>
    </head>
    <body>
        <div style="background-color:wheat;color:burlywood;">
            <h2> Error </h2>
            <p>
                Facing some problems?, then contact to our emailID abc@gotmail.com
            </p>
        </div>
        <table>
            <tr>
                <td> Path: </td>
                <td> @ViewBag.Path </td>
            </tr>
            <tr>
                <td> Message </td>
                <td> @ViewBag.Message</td>
            </tr>
            <tr>
                <td> Stack </td>
                <td> @ViewBag.Stack </td>
            </tr>
        </table>
    </body>
</html>